.landingPage{
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #28748bd9;  */
    background-color: rgba(29, 252, 178, 0);
}

.landing-header{
    height: 10vh;
    background-color: rgba(238, 203, 203, 0.276);
    width: 85%;
    padding: 0 3%;
    border-radius: 1.7rem;
    display: flex;
    position: fixed;
    top: 3vh;
    z-index: 4;
    align-items: center;
    justify-content:space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
}


.landing-header-logo img{
    height: 60px;
}

.landing-header ul{
    display: flex;
    gap: 30px;
    margin: 0;
}

.landing-header ul li{
    list-style-type: none;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transform-origin: right;
    transition: color 1s;
}

.landing-header ul li a{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transform-origin: right;
    transition: color 1s;
    text-decoration: none;
    color: rgb(0, 45, 83);
}

.landing-header ul li a:hover{
    color: rgb(0, 127, 231);     
}

.landing-body{
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.landing-hero{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 2rem;
}

.landing-hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 5% ;
    align-items: flex;
}

.landing-hero-content h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
    color: rgb(155, 8, 106);
}

.landing-hero-content p{
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
}

.landing-hero-image{
    margin-top: 15vh;
    width: 60%;
    display: flex;
    gap: 0px;
    align-items: end;
    padding-bottom: 10vh;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background-size: cover; 
    background-position: center; 
}


.landing-hero-image .back{
    height: 70vh;
    width: 35vw;
    transform: skew(-10deg);
    background-image: url('../images/landing-pic.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #8abbdbd3;
    padding: 0;
    margin: 0;
    position: relative;
    animation-name: hero-img;
    animation-duration: 2s;
}

/* landing - authentication */

.authForm{
    margin-top: 5%;
    /* border: 1px solid #cb7c7c; */
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    height: max-content;
    font-family: 'Work Sans', sans-serif;

    background-color: rgba(248, 234, 234, 0.521);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.5rem;

}
.authForm h2{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgb(3, 6, 179);
    font-size: 1.8rem;
}
.authFormInputs {
    width: 100%;
    height: 50px;
}

.authFormInputs label{
    color: rgb(2, 35, 58);
    /* padding: 0; */
}
.authFormInputs input{
    color: rgb(0, 61, 101);
    border: none;
    outline: none;
    background-color: rgba(231, 235, 235, 0);
    border: 1px solid #a8d0eb75;
    /* padding: 0; */
}
.authFormInputs input #floatingInput .form-control{
    padding: 0 !important;
}

.authForm button{
    background: linear-gradient(15deg, rgb(26, 129, 247) 15%, rgb(249, 122, 239) 100%);
    font-weight: bold;
    color: rgb(253, 254, 255);
    height: 50px;
}
.authForm p{
    margin-top: 5%;
    color: black;
}
.authForm p span{
    margin-top: 5%;
    color: rgb(15, 95, 141);
    cursor: pointer;
}

.landing-about{
    margin-top: 10vh;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.landing-about .about-1{
    display: flex;
    width: 100%;
}


.landing-about .about-1 img{
    width: 50%;
    border: 2px solid #e5f0f8d3;
    border-radius: 0 8rem 8rem 0;
    height: 80vh;
}
.landing-about .about-1 .about-1-content{
    width: 50%;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-about .about-1 .about-1-content h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(216, 8, 105);
}
.landing-about .about-1 .about-1-content p{
    font-family: 'Work Sans', sans-serif;
    color: rgb(129, 173, 9);
}

.landing-about .about-1 .about-1-content a{
    font-family: 'Poppins', sans-serif;
    width: 30%;
    padding: 10px 30px;
    border: none;
    background: linear-gradient(15deg, rgb(26, 129, 247) 15%, rgb(249, 122, 239) 100%);
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
}


.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p{
    color: rgb(0, 69, 122);
}

@media (max-width: 768px) {
    .landing-hero, .landing-about {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .landing-hero-content, .landing-about .about-1-content {
        width: 100%;
        padding: 2rem;
    }
    
    .landing-hero-image, .landing-about .about-1 img {
        width: 100%;
        height: auto;
    }
}
